<table cellpadding="20" cellspacing="0" border="0" align="left">
  <tr>
    <td valign="top">
      <br />
      <%= image_tag leader.photo_src, alt: "Photo of #{leader.name.strip}. (Show images to view)" %>
    </td>
    <td>
      <h2><%= leader.name.strip %> <span style="font-size:14px;color:#333333"><%= leader.title.strip %></span></h2>

      <table width="100%" cellpadding="5" cellspacing="5" border="0" align="left" style="border:1px solid #999999">
        <tr>
          <th>District</th>
          <td><%= leader.district_residence %></td>
        </tr>
        <% unless leader.religion.blank? %>
        <tr>
          <th>Religion</th>
          <td><%= leader.religion %>
        </tr>
      <% end %>
        <tr>
          <th>Spouse</th>
          <td><%= leader.spouse %></td>
        </tr>
        <tr>
          <th>Family</th>
          <td><%= leader.family %></td>
        </tr>
        <% unless leader.birthday.blank? %>
        <tr>
          <th>Birthday</th>
          <td><%= leader.birthday %></td>
        </tr>
        <% end %>
        <tr>
          <td colspan="2">
          <ul>
            <%= content_tag('li', link_to("Website", leader.website)) unless leader.website.blank? %>
            <%= content_tag('li', link_to("Contact", leader[:webform])) unless leader[:webform].blank? %>
            <%= content_tag('li', link_to("Facebook", leader.facebook)) unless leader.facebook.blank? %>
            <%= content_tag('li', link_to("Email", "mailto:#{leader.email}")) unless leader.email.blank? %>
            <%= content_tag('li', link_to("Twitter", leader.twitter)) unless leader[:twitter].blank? %>
          </ul>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

