<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

     <%= link_to "Public Servants' Prayer", main_app.root_path, class: "brand" %>


      <div class="nav-collapse">
        <ul class="nav pull-right">

          <% css = "" %>
          <li class="<%= css %>"><%= link_to "Find Your State", "/states" %></li>

          <li class="<%= css %>"><%= link_to "Blog", "http://blog.publicservantsprayer.org/" %></li>

          <% css = params[:path] == "about" ? "active" : "" %>
          <li class="<%= css %>"><%= link_to "About", "http://blog.publicservantsprayer.org/about" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
