<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

     <%= link_to "Public Servants' Prayer", main_app.root_path, class: "brand" %>


      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% css = params[:path] == "about" ? "active" : "" %>
          <li class="<%= css %>"><%= link_to "About", "/about" %></li>

          <% css = params[:path] == "how-to-pray-for-leaders" ? "active" : "" %>
          <li class="<%= css %>"><%= link_to "How to Pray for Leaders", "/how-to-pray-for-leaders" %></li>

          <% css = (params[:controller] == "states" and params[:action] == "index") ? "active" : "" %>
          <li class="<%= css %>"><%= link_to "Find Your State", "/states" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
