<div class="well">
  <h2 class="page-header member-name">
    <%= member.name %>
    <small><%= member[:title] %></small>
  </h2>
  <div class="row-fluid">
    <div class="span3">
      <%= image_tag member.photo_src, class: 'head-shot', style: "xpadding:1em" %>
      <div style="xpadding-left:1em">
        <h3>Connect</h3>
        <div style="padding:0.5em">
          <ul class="unstyled">
            <%= content_tag('li', link_to("Website", member.website)) unless member.website.blank? %>
            <%= content_tag('li', link_to("Contact Form", member[:webform])) unless member[:webform].blank? %>
            <%= content_tag('li', link_to("Facebook", member.facebook)) unless member.facebook.blank? %>
            <%= content_tag('li', link_to("Email", "mailto: #{member.email}")) unless member.email.blank? %>
            <%= content_tag('li', link_to("Twitter", "https://twitter.com/#{member.twitter}")) unless member[:twitter].blank? %>
          </ul>
        </div>
      </div>
    </div>
    <div class="span9">
      <h3>Profile</h3>
      <table class="table table-striped table-bordered table-condensed">
        <%= member_data_tr member[:district], "District" %>
        <%= member_data_tr member[:religion], "Religion" %>
        <%= member_data_tr member.family_info, "Family" %>
        <%= member_data_tr member.born, "Birthday" %>
      </table>
    </div>
  </div>
</div>
