<% content_for :page_title do %>
  <% if @date == Date.today %>
    <h1 class="state-header"><%= @state.name %> Legislators Being Prayed For Today</h1>
  <% elsif @date > Date.today %>
    <h1 class="state-header">These <%= @state.name %> Legislators Will Be Prayed For On</h1>
  <% else %>
    <h1 class="state-header">These <%= @state.name %> Legislators Were Prayed For On</h1>
  <% end %>

  <h2 class="date"><%= @date.strftime("%A, %B %-d, %Y") %></h2>
<% end %>

<div class="row-fluid">
  <div class="span6">
    <%= render :partial => 'member', locals: {member: @member1} %>
  </div>
  <div class="span6">
    <%= render :partial => 'member', locals: {member: @member2} %>
  </div>
</div>

<% if false %>
<div class="row">
  <div class="span12">
    <div class="well">
      <h2>In the news</h2>
      <p>
      <%= debug @member1 %>
      </p>
    </div>
  </div>
</div>
<% end %>
