<%= auto_discovery_link_tag(:rss, "/states/#{params[:id]}/feed.rss") %>

<% content_for :page_title do %>
  <h1 class="page-header"><%= @state.name %></h1>
<% end %>

<div class="row-fluid">
  <% if @date == Date.today %>
    <h2 class="state-header">Legislators Being Prayed For Today</h2>
  <% elsif @date > Date.today %>
    <h2 class="state-header">These <%= @state.name %> Legislators Will Be Prayed For On</h2>
  <% else %>
    <h2 class="state-header">These <%= @state.name %> Legislators Were Prayed For On</h2>
  <% end %>

  <h3 class="date"><%= @date.strftime("%A, %B %-d, %Y") %></h3>
  <div class="">
    <%= render :partial => 'members/profile', formats: [:html], locals: {member: @member0} %>
    <%= render :partial => 'members/profile', formats: [:html], locals: {member: @member1} %>
    <%= render :partial => 'members/profile', formats: [:html], locals: {member: @member2} %>
  </div>
</div>

<% if false %>
<div class="row">
  <div class="span12">
    <div class="well">
      <h2>In the news</h2>
      <p>
      <%= debug @member1 %>
      </p>
    </div>
  </div>
</div>
<% end %>
