<style>
table {
width:100%;
}
dl {
}
dt {
font-weight: bold;
}
dd {
margin-left: 1em;
}
ul {
padding-left: 1em;
}
</style>

<table>
<tr>
<% 7.times do |i| %>
  <% date = @sunday + i %>
  <td valign="top">
    <div style="padding:10px;text-align:center">
      <%= image_tag "#{Rails.root}/app/assets/images/psp-logo-tagline.png", style: "border:5px solid #9E4045;width:195" %>
      <h1 style="font-size:16px;font-style:italic;color:#700f16">Pray for Your Leaders<br /><%= @state.name %></h1>
      <h2 style="font-size:12px;color:#777"><%= date.strftime("%A, %B %-d, %Y") %></h2>
      <hr style="margin-top:1em"/>
      <%= render :partial => 'member_pdf', locals: {member: @state.member_zero(date)} %>
      <%= render :partial => 'member_pdf', locals: {member: @state.member_one(date)} %>
      <%= render :partial => 'member_pdf', locals: {member: @state.member_two(date)} %>
      <%= image_tag "#{Rails.root}/app/assets/images/publicservantsprayer-qr-code.png", style: "margin-top:1em;width: 100px" %>
      <h3 style="font-size:12px;color:navy">PublicServantsPrayer.org</h3>
      <div style="margin-top:1em;padding: 0.5em;color:#fff;background:#700f16"></div>
      <%= image_tag "#{Rails.root}/app/assets/images/cc-logo-611x137.png", style: "width: 180px" %>
    </div>
  </td>
<% end %>
</tr>
</table>

