<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Public Servants' Prayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <%= stylesheet_link_tag  "application", :media => "all" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Public Servants' Prayer", root_path, class: "brand" %>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><%= link_to "Home",    root_path %></li>
              <li><%= link_to "States",    states_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span9">
          <%= yield :page_title %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>

        <div class="span3">
          <%= image_tag "psp-logo-tagline.png" %>
          <div class="well">
            <h4>1st Timothy 2:1-4</h4>
            <p>I <small>exhort therefore, that, first of all, supplications, prayers, intercessions, and giving of thanks, be made for all men;

            For kings, and for all that are in authority; that we may lead a quiet and peaceable life in all godliness and honesty.

            For this is good and acceptable in the sight of God our Saviour;

            Who will have all men to be saved, and to come unto the knowledge of the truth.</small>
            </p>
            <p><%= link_to "Scripture reference", "http://www.biblegateway.com/passage/?search=1+Timothy+2%3A1-4&version=KJV", style: "font-size: smaller; font-style: italic" %><p>
          </div>
          <div class="well">
            <h4>Welcome to Public Servants' Prayer</h4>
            <p>Dedicated to supporting elected leaders through prayer, encouragement, and the Word of God."</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
