<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Public Servants' Prayer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <%= stylesheet_link_tag  "application", :media => "all" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Public Servants' Prayer", root_path, class: "brand" %>


          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li class="active"><%= link_to "Home",    root_path %></li>
              <%= render partial: "layouts/region_dropdown", locals: { name: "Northeast", states: State.northeast } %>
              <%= render partial: "layouts/region_dropdown", locals: { name: "Midwest", states: State.midwest } %>
              <%= render partial: "layouts/region_dropdown", locals: { name: "South", states: State.south } %>
              <%= render partial: "layouts/region_dropdown", locals: { name: "West", states: State.west } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <% flash.each do |key, val| %>
        <div class="alert alert-<%= key %> offset3 span5">
          <button class="close" data-dismiss="alert">×</button>
          <strong><%= key.to_s.humanize %>.</strong>
          <%= val %>
        </div>
      <% end %>
      <div class="row">
        <div class="span9">
          <%= yield :page_title %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>

        <div class="span3" style="padding:0.25">
          <%= image_tag "psp-logo-small.png" %>
          <hr />
          <p style="text-align:center">
          <small>
            Designed and built by<br />
          Public Servants' Prayer
          and a partnership 
          with&nbsp;<a href="http://www.capitolcom.org/" target="_blank">Capitol&nbsp;Commission</a>
        </small>
          <%= link_to image_tag("cc-logo-611x137.png"), "http://www.capitolcom.org/", target: "_blank" %>
          </p>
          <hr />
          <blockquote class="pull-right">
            <p><span class="lead">I exhort therefore,</span>
            that, first of all, supplications, prayers, intercessions, and giving of thanks, be made for all men;
            For kings, and for all that are in authority; that we may lead a quiet and peaceable life
            in all godliness and honesty.  For this is good and acceptable in the sight of God our Saviour;
            Who will have all men to be saved, and to come unto the knowledge of the truth.</p>
            <small>1 Timothy 2:1-4</small>
          </blockquote>

          <hr />
          <hr />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>


  <footer class="container-fluid">
  <p class="lead">
  <%= link_to "Home", "#" %>
  | <%= link_to "Find Your State", "/states" %>
  | <%= link_to "How to Pray for Leaders", "#" %>
  | <%= link_to "About", "#" %>
  | <%= link_to "Help", "#" %>
  | <%= link_to "Contact Us", "#" %>
</p>
<hr />
<p>
  <strong>Copyright &copy; 2012 Public Servants' Prayer. All rights reserved.</strong>
  </p>
  <div class="row">
    <div class="offset2 span8 well">

        <hr />

        <div class="row">
          <div class="span4">
            <p style="padding-left:5em">
            Powered by the exellent data services of <a href="https://www.knowwho.com/" target="_blank">KnowWho.com</a>
            </p>
          </div>
          <div class="span4">
            <%= link_to image_tag("/assets/know-who-logo.jpg", alt: "KnowWho", style: "width:50%"), "https://www.knowwho.com/",  target: "_blank" %>
          </div>
        </div>
      </div>
  </div>
</footer>

</body>
</html>
