<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <% if params[:controller] == "states" %>
        <li class="active">
          <%= link_to state_path(@state) do %>
            <i class="icon-white icon-home"></i>
            State Home
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to state_path(@state) do %>
            <i class="icon-home"></i>
            State Home
          <% end %>
        </li>
      <% end %>

        <% if params[:controller] == "members" %>
        <li class="active">
          <%= link_to state_leaders_path(@state) do %>
            <i class="icon-white icon-user"></i>
            State Leaders
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to state_leaders_path(@state) do %>
            <i class="icon-user"></i>
            State Leaders
          <% end %>
        </li>
      <% end %>
        <li class="nav-header">Prayer Calendar</li>
        <li><%= link_to "Subscribe Daily", state_calendar_path(@state, 'daily') %></li>
        <li><%= link_to "Subscribe Weekly", state_calendar_path(@state, 'weekly') %></li>
        <li><%= link_to "Prayer Guide", "#" %></li>
        <li><%= link_to "Twitter: @#{@state.code}_Prays", "https://twitter.com/#{@state.code}_Prays" %></li>
      </ul>


      <div style="margin-top:1em">
        <%= image_tag "/assets/capitols/#{@state.to_param}-400.png" %>
      </div>
    </div>

    <div class="span6">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
